.segundo-post{
    color: #c7befd;
    text-align: justify;
}

body {
    background-color: rgb(61, 2, 54); 
}
.cartao-amigos{
     color: rgb(199, 190, 253);
    text-align: justify;
}
.terceiro-post{
    color: #c7befd;
    text-align: justify;
}
.quarto-post{
     color: #c7befd;
    text-align: justify;
}